{% extends "base.html" %}
{% load static %} 

{% block styles%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'gdsc_app/styles/club_insights.css' %}" />
<link rel="stylesheet" href="{% static 'gdsc_app/styles/club_coordinators.css' %}" />
<link rel="stylesheet" href="{% static 'gdsc_app/styles/coreteam.css' %}" />
<link rel="stylesheet" href="{% static 'gdsc_app/styles/events.css' %}" />
<link rel="stylesheet" href="{% static 'gdsc_app/styles/our_activities.css' %}" />
{% endblock%}

{% block title %}Home{% endblock %}

{% block body%}

{% comment %} club_insights {% endcomment %}

<section class="club_insights" style="background: url('{% static 'assets/club_insights/insightsVector.svg' %}')" id="insights" data-aos="fade-up">
    <h1 class="insights_heading">Club Insights</h1>
    <div class="insights">
      <div class="column_one">
        <div class="column_one-line1"></div>
        <div class="column_one-line2"></div>
        <div class="element_one1" data-aos="fade-right">
          You get to try everything from development to Problem Solving to
          Soft Skills
        </div>
        <div class="element_one2" data-aos="fade-right">
          Three successful cohorts already completed
        </div>
      </div>
      <div class="column_two">
        <div class="column_two-line1"></div>
        <div class="column_two-line2"></div>
        <div class="element_two1" data-aos="fade-left">
          You get to be a part of national community where girls support each
          other and grow
        </div>
        <div class="element_two2" data-aos="fade-left">
          You get to boost your resume in the first year itself
        </div>
      </div>
    </div>
  </section>


{% comment %} our_activities {% endcomment %}



<section class="our_activities_main" id="activities" data-aos="fade-up">
    <h1>Our Activities</h1>
    <img src="{% static 'assets/our_activities/rotatedsquare.png' %}" class="activities_logo1" />
    <img src="{% static 'assets/our_activities/squarelogo.png' %}" class="activities_logo2" />
    <div class="our_activities_boxes row">
        {% for activity in our_activities %}
        <div class="our_activities_box our_activities_box1 col-md-6 col-sm-6 col-xs-12" data-aos="zoom-in-up">
            
            <h3 class="our_activities_box_heading">{{ activity.activity_name }}</h3>
            <span class="our_activities_content">{{ activity.description}}</span>
            
        </div>
        {% endfor %}
        
    </div>
</section>



{% comment %} club_coordinator {% endcomment %}




<section class="club-coordinators__main" id="club-coordinators" data-aos="fade-up">
    <h2 class="club-coordinators__heading">Club Coordinators</h2>
    <div class="club-coordinators__boxes">
        {% for person in club_coordinator %}
        <div class="club-coordinators__box">
            <img src="{% static person.image.url %}" alt="" />
            <div>
                <p>{{ person.full_name }}</p>
                <p>{{ person.designation}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


{% comment %} core_team {% endcomment %}


<section class="coreteam_main" id="core-team" data-aos="fade-up">
        <img src="{% static 'assets/core_team/wave.png' %}" class="coreteam_wavy" />
        <img src="{% static 'assets/core_team/circleDesign.svg' %}" class="coreteam_design" />
        <h1 class="coreteam_heading">Core Team</h1>
        <div class="row coreteam_boxes coreteam_box_1">
            {% for person in coreTeams %}
                <div class="coreteam_img_box1 flex  col-md-4 col-sm-6 col-xs-12" data-aos="zoom-in-up">
                    <img src="{% static person.image.url %}" alt="" />
                    <div>
                        <p>{{ person.full_name }}</p>
                        <p>{{ person.designation}}</p>
                    </div>
                </div>
                {% endfor %}
        </div>
    </section>


<!-- Events section -->




<section class="events" id="events"   data-aos="fade-up">
    <h1 class="events__heading">Events</h1>
    <div class="viewport">
        <button class="prev btn-primary">Prev</button>
      <button class="next">Next</button>
        <div class="track">
            {% for event in events %}
          <div class="item">
            <img class="events__card-image" src="{% static 'assets/events/event.svg' %}" alt="Failed to load " />
           <div class="shadow"></div>
            <div class="caption"><div>
                <h5 class="events__card-date">{{ event.date}}</h5>
                <h5 class="events__card-title">{{ event.title}}</h5>
                <p class="events__card-info">{{ event.info }}</p>
            </div></div> 
          </div>
       {% endfor %}
        </div>
      </div>
</section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'gdsc_app/script/event.js' %}"></script>
{% endblock %}