{% extends "base.html" %}
{% load static %} 

{% block styles%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'gdsc_app/styles/club_insights.css' %}" />
<link rel="stylesheet" href="{% static 'gdsc_app/styles/club_coordinators.css' %}" />
<link rel="stylesheet" href="{% static 'gdsc_app/styles/coreteam.css' %}" />
<link rel="stylesheet" href="{% static 'gdsc_app/styles/events.css' %}" />
<link rel="stylesheet" href="{% static 'gdsc_app/styles/our_activities.css' %}" />
{% endblock%}

{% block title %}Home{% endblock %}

{% block body%}

{% comment %} club_insights {% endcomment %}

<section class="club_insights" id="insights" data-aos="fade-up">
    <h1 class="insights_heading">Club Insights</h1>
    <div class="insights">
        <div class="column_one">
            <div class="column_one-line1"></div>
            <div class="column_one-line2"></div>
            <div class="element_one1" data-aos="fade-right">
                You get to try everything from development to Problem Solving to Soft Skills
            </div>
            <div class="element_one2" data-aos="fade-right">
                Three successful cohorts already completed
            </div>
        </div>
        <div class="column_two">
            <div class="column_two-line1"></div>
            <div class="column_two-line2"></div>
            <div class="element_two1" data-aos="fade-left">
                You get to be a part of national community where girls support each other and grow
            </div>
            <div class="element_two2" data-aos="fade-left">
                You get to boost your resume in the first year itself
            </div>
        </div>
    </div>
</section>



{% comment %} our_activities {% endcomment %}



<section class="our_activities_main" id="activities" data-aos="fade-up">
    <h1>Our Activities</h1>
    <img src="{% static 'assets/our_activities/rotatedsquare.png' %}" class="activities_logo1" />
    <img src="{% static 'assets/our_activities/squarelogo.png' %}" class="activities_logo2" />
    <div class="our_activities_boxes">
        {% for activity in our_activities %}
        <div class="our_activities_box our_activities_box1" data-aos="zoom-in-up">
            <div class="our_activities_circle circle1"></div>
            <h3 class="our_activities_box_heading">{{ activity.activity_name }}</h3>
            <span class="our_activities_content">{{ activity.description}}</span>
        </div>
        {% endfor %}
        
    </div>
</section>



{% comment %} club_coordinator {% endcomment %}




<section class="club-coordinators__main" id="club-coordinators" data-aos="fade-up">
    <h2 class="club-coordinators__heading">Club Coordinators</h2>
    <div class="club-coordinators__boxes">
        {% for person in club_coordinator %}
        <div class="club-coordinators__box">
            <img src="{% static person.image.url %}" alt="" />
            <div>
                <p>{{ person.full_name }}</p>
                <p>{{ person.designation}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>


{% comment %} core_team {% endcomment %}


<section class="coreteam_main" id="core-team" data-aos="fade-up">
        <img src="./assets/core_team_images/wave.png" class="coreteam_wavy" />
        <img src="./assets/core_team_images/circleDesign.svg" class="coreteam_design" />
        <h1 class="coreteam_heading">Core Team</h1>
        <div class="row coreteam_boxes coreteam_box_1">
                <div class="coreteam_img_box1 flex  col-md-4 col-sm-6 col-xs-12" data-aos="zoom-in-up">
                    <img src="./assets/core_team_images/Tushar.jpg" alt="" />
                    <div>
                        <p>Tushar Sharama</p>
                        <p>Creative Lead</p>
                    </div>
                </div>
    
                <div class="coreteam_img_box2 flex col-md-4 col-sm-6 col-xs-12" data-aos="zoom-in-up">
                    <img src="./assets/core_team_images/Ashutosh.jpeg" alt="" />
                    <div>
                        <p>Ashutosh Kumar Choudhary</p>
                        <p>Open Source Lead</p>
                    </div>
                </div>
                <div class="coreteam_img_box3 flex col-md-4 col-sm-6 col-xs-12" data-aos="zoom-in-up">
                    <img src="./assets/core_team_images/Mohak.jpeg" alt="" />
                    <div>
                        <p>Mohak Srivastav</p>
                        <p>Android Lead</p>
                    </div>
                </div>
        
                <div class="coreteam_img_box4 flex col-md-4 col-sm-6 col-xs-12" data-aos="zoom-in-up">
                    <img src="./assets/core_team_images/Utkarsh.jpg" alt="" />
                    <div>
                        <p>Utkarsh Agarwal</p>
                        <p>DSA problem Solving Lead</p>
                    </div>
                </div>
    
                <div class="coreteam_img_box1 flex col-md-4 col-sm-6 col-xs-12" data-aos="zoom-in-up">
                    <img src="./assets/core_team_images/Neha.jpeg" alt="" />
                    <div>
                        <p>Neha Kalbande</p>
                        <p>AI/ML Lead</p>
                    </div>
                </div>
                <div class="coreteam_img_box2 flex col-md-4 col-sm-6 col-xs-12" data-aos="zoom-in-up">
                    <img src="./assets/core_team_images/Ritika.jpeg" alt="" />
                    <div>
                        <p>Ritika Bhatt</p>
                        <p>Web Development Lead</p>
                    </div>
                </div>
        </div>
    </section>


<!-- Events section -->




<section class="events" id="events" data-aos="fade-up">
    <h1 class="events__heading">Events</h1>
    <div class="events__section" data-aos="fade-up">
        <div class="events__link">
            <a class="events__link-a" href="#">All</a>
            <a class="events__link-a" href="#">Upcoming</a>
            <a class="events__link-a" href="#">Past</a>
        </div>
        <div class="events__main">
            <div class="events__icon events__icon-left" onclick="scroll_left()">
                <img class="events__icon" src="{% static 'assets/events/clickArrow.svg' %}" />
            </div>
            <div class="events__container" data-aos="fade-up">
                <div class="events__container-item">
                    <div class="events__card">
                        <img class="events__card-image" src="{% static 'assets/events/event.svg' %}" alt="Failed to load " />
                        <div>
                            <h5 class="events__card-date">MAY 17, 2020</h5>
                            <h5 class="events__card-title">Explore ML Intermediate</h5>
                            <p class="events__card-info">Multiple Linear Regression</p>
                        </div>
                    </div>
                </div>
                <div class="events__container-item">
                    <div class="events__card">
                        <img class="events__card-image" src="{% static 'assets/events/event.svg' %}" alt="Failed to load " />
                        <div>
                            <h5 class="events__card-date">MAY 17, 2020</h5>
                            <h5 class="events__card-title">Explore ML Intermediate</h5>
                            <p class="events__card-info">Multiple Linear Regression</p>
                        </div>
                    </div>
                </div>
                <div class="events__container-item">
                    <div class="events__card">
                        <img class="events__card-image" src="{% static 'assets/events/event.svg' %}" alt="Failed to load " />
                        <div>
                            <h5 class="events__card-date">MAY 17, 2020</h5>
                            <h5 class="events__card-title">Explore ML Intermediate</h5>
                            <p class="events__card-info">Multiple Linear Regression</p>
                        </div>
                    </div>
                </div>
                <div class="events__container-item">
                    <div class="events__card">
                        <img class="events__card-image" src="{% static 'assets/events/event.svg' %}" alt="Failed to load " />
                        <div>
                            <h5 class="events__card-date">MAY 17, 2020</h5>
                            <h5 class="events__card-title">Explore ML Intermediate</h5>
                            <p class="events__card-info">Multiple Linear Regression</p>
                        </div>
                    </div>
                </div>
                <div class="events__container-item">
                    <div class="events__card">
                        <img class="events__card-image" src="{% static 'assets/events/event.svg' %}" alt="Failed to load " />
                        <div>
                            <h5 class="events__card-date">MAY 17, 2020</h5>
                            <h5 class="events__card-title">Explore ML Intermediate</h5>
                            <p class="events__card-info">Multiple Linear Regression</p>
                        </div>
                    </div>
                </div>
                <div class="events__container-item">
                    <div class="events__card">
                        <img class="events__card-image" src="{% static 'assets/events/event.svg' %}" alt="Failed to load " />
                        <div>
                            <h5 class="events__card-date">MAY 17, 2020</h5>
                            <h5 class="events__card-title">Explore ML Intermediate</h5>
                            <p class="events__card-info">Multiple Linear Regression</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events__icon events__icon-right" onclick="scroll_right()">
                <img class="events__icon" src="{% static 'assets/events/clickArrow.svg' %}" />
            </div>
        </div>
    </div>
</section>
{% endblock %}